WhoLikesIt/.vs/WhoLikesIt/v16/.suo
WhoLikesIt/.vs/WhoLikesIt/v16/TestStore/0/000.testlog
WhoLikesIt/WhoLikesIt/obj/Debug/netcoreapp3.1/WhoLikesIt.assets.cache
WhoLikesIt/WhoLikesIt/obj/Debug/netcoreapp3.1/WhoLikesIt.csproj.FileListAbsolute.txt
WhoLikesIt/WhoLikesIt_Tests/obj/Debug/netcoreapp3.1/WhoLikesIt_Tests.assets.cache
WhoLikesIt/WhoLikesIt_Tests/obj/Debug/netcoreapp3.1/WhoLikesIt_Tests.csproj.FileListAbsolute.txt
WhoLikesIt/WhoLikesIt/bin/
WhoLikesIt/WhoLikesIt/obj/
WhoLikesIt/WhoLikesIt_Tests/bin/
WhoLikesIt/WhoLikesIt_Tests/obj/
